nav(class="navbar")
    ul
    if current_user
      img(src='something_haha_very_funny_great.jpeg')
      li
        a(href='#') Contact
      li
        a(href='#') About
     else
      li
        a(href='#') Login
      li
        a(href='#') Sign Up